body{
  background-color: rgb(196, 196, 218);
}

.website-title {
  background-color: rgb(196, 196, 218);
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(196, 196, 218);
}

.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 30px 80px;
  /* overflow-y: scroll; */
}

.btn {
  padding: 10px;
  color: #fff;
  background-color: rgb(43, 43, 221);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.section-title{
  color: rgb(43, 43, 221);
  font-size: 25px;
}


.btn-delete {
  padding: 2px 5px;
  background-color: transparent;
  color: black;
  margin-top: 15px;
  cursor: pointer;
}

.btn-add {
  margin-top: 5px;
  margin-left: 5px;
}

.secDiv {
  width: 100%;
}

.inputDiv {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-weight: bold;
}

.inputField {
  padding: 9px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
}

.inputRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.pInputRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pinput {
  margin: 5px;
  /* max-width: 50px; */
}

.btn-dwd {
  text-decoration: none;
  color: white;
  width: 100%;
  cursor: pointer;
}